## Interprétation de Random Forest

In [11]:
import pandas as pd
datatrain = pd.read_csv("C:/Users/Sébastien/Desktop/Travail Session Data Mining/Data/clv_mobile_data_train.txt", sep='\s+' )
datatest = pd.read_csv("C:/Users/Sébastien/Desktop/Travail Session Data Mining/Data/clv_mobile_data_test.txt", sep='\s+' ) 
datatest

,numsessions,numdays,numpurchases,totpurchases,totplaytime,totscore,numlives,numelements,difflevel,skill1,skill2,country,opsys,acquis,trendsession,trendpurchase,y
5001,3,5,2,2.000000,203.001687,96.468857,25,19,3,0.467776,0.496476,6,0,1,1.305607,0.529467,16.838230
5002,4,6,3,3.831950,157.899232,97.097560,29,21,1,0.600407,0.428851,2,0,1,-0.784603,1.188252,30.213436
5003,7,7,3,5.572008,297.582058,98.548614,35,20,2,0.539319,0.430888,4,1,1,1.727607,1.314924,43.588352
5004,5,6,3,7.765181,324.542534,105.071201,30,23,2,0.557145,0.609633,4,1,1,1.828623,1.943965,48.212653
5005,12,7,5,6.189762,574.417180,112.034313,42,28,1,0.672937,0.603947,3,1,0,4.783674,2.796260,37.889275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,14,7,3,4.267458,565.329611,110.138174,35,22,2,0.604200,0.527559,3,1,0,3.697935,-0.721361,46.318152
9997,9,7,4,16.846670,389.797840,111.082036,45,28,1,0.753838,0.588566,5,0,1,2.180018,3.170579,24.742323
9998,7,7,3,2.912807,123.947405,100.390630,24,18,1,0.533727,0.676320,6,0,1,1.975939,0.076990,28.777090
9999,3,5,1,2.000000,223.459606,96.691567,32,14,3,0.415744,0.579596,4,1,1,1.758099,-0.983687,14.435111
10000,10,7,2,11.876179,320.452852,104.107206,34,24,1,0.646571,0.538167,6,1,0,2.523203,2.327509,39.903720